<!DOCTYPE html>

<html xmlns:th="www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<title>MotorMaintain | Quản lý tài khoản</title>

	<meta name="description" content="" />

	<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{fontawesome/all.css}">
	<link rel="preconnect" th:href="@{https://fonts.googleapis.com}" />
	<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin />
	<link
		th:href="@{https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap}"
		rel="stylesheet" />

	<link rel="stylesheet" th:href="@{css/boxicons.css}" />

	<link rel="stylesheet" th:href="@{css/core.css}" class="template-customizer-core-css" />
	<link rel="stylesheet" th:href="@{css/theme-default.css}" class="template-customizer-theme-css" />
	<link rel="stylesheet" th:href="@{css/demo.css}" />

	<link rel="stylesheet" th:href="@{css/perfect-scrollbar.css}" />

	<link rel="stylesheet" th:href="@{css/apex-charts.css}" />

	<script th:src="@{js/helpers.js}"></script>

	<script th:src="@{js/config.js}"></script>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->

			<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
				<div class="app-brand demo">
					<a href="" class="app-brand-link">
						<span class="app-brand-text demo menu-text fw-bolder ms-2"
							style="color: #696cff;text-decoration: none">MotorMT</span>
					</a>
				</div>

				<ul class="menu-inner py-1">
					<li class="menu-item"><a
						th:href="@{/account-update}" class="menu-link">
							<div>Thông tin tài khoản</div>
					</a></li>
					<li class="menu-item active" sec:authorize="hasAuthority('Quản trị viên')"><a th:href="@{/account}"
						class="menu-link">
							<div>Quản lý tài khoản</div>
					</a></li>
					<li class="menu-item" sec:authorize="hasAuthority('Người quản lý')"><a th:href="@{/service}" class="menu-link">
							<div>Quản lý dịch vụ</div>
					</a></li>
					<li class="menu-item" sec:authorize="hasAuthority('Người quản lý')"><a th:href="@{/schedule}" class="menu-link">
							<div>Quản lý lịch đặt</div>
					</a></li>
					<li class="menu-item" sec:authorize="hasAuthority('Người quản lý')"><a th:href="@{/bill}" class="menu-link">
							<div>Quản lý hóa đơn</div>
					</a></li>
					<li class="menu-item" sec:authorize="hasAuthority('Người quản lý')"><a th:href="@{/bill-create}" class="menu-link">
						<div>Tạo hóa đơn</div>
					</a></li>
				</ul>
			</aside>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->
				<form th:action="@{/logout}" method="post" th:hidden="true"
					name="LogoutForm">
					<input type="submit">
				</form>

				<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
					id="layout-navbar">
					<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
						<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
							<i class="bx bx-menu bx-sm"></i>
						</a>
					</div>

					<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
						<!-- Search -->
						<div class="navbar-nav align-items-center">
							<div class="nav-item d-flex align-items-center">
								<form th:action="@{/account-page-1}" id="myForm">
									<input type="search" name="keyword" class="form-control border-0 shadow-none"
										th:value="${keyword}" placeholder="Tìm kiếm..." aria-label="Tìm kiếm..." />
								</form>
							</div>
						</div>
						<!-- /Search -->

						<ul class="navbar-nav flex-row align-items-center ms-auto">
							<!-- Place this tag where you want the button to render. -->

							<!-- User -->
							<li class="nav-item navbar-dropdown dropdown-user dropdown">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
									data-bs-toggle="dropdown">
									<div class="avatar avatar-online">
										<img th:src="@{/image/1.jpeg}" alt class="w-px-40 h-auto rounded-circle" />
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<a class="dropdown-item" th:href="@{/account-update}">
											<div class="d-flex">
												<div class="flex-shrink-0 me-3">
													<div class="avatar avatar-online">
														<img th:src="@{/image/1.jpeg}" alt
															class="w-px-40 h-auto rounded-circle" />
													</div>
												</div>
												<div class="flex-grow-1">
													<span class="fw-semibold d-block"
														sec:authentication="principal.hoten"></span> <small
														class="text-muted" sec:authentication="principal.vaitro"></small>
												</div>
											</div>
										</a>
									</li>
									<li>
										<div class="dropdown-divider"></div>
									</li>
									<li><a class="dropdown-item" href=""> <a
											class="align-middle" id="logoutLink" href="">Đăng xuất</a>
									</a></li>
								</ul>
							</li>
							<!--/ User -->
						</ul>
					</div>
				</nav>

				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->

					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span>Quản lý tài khoản</h4>
						<a th:href="@{/account-new}"><span class="fw-light btn btn-primary">Tạo tài khoản</span></a>
						<br><br>
						<div th:if="${message != null}" class="alert alert-success text-center">
							[[${message}]]
						</div>
						<!-- Basic Bootstrap Table -->
						<div class="card">
							<div class="table-responsive text-nowrap">
								<table class="table">
									<thead>
										<tr>
											<th>ID Tài khoản</th>
											<th>Họ và tên</th>
											<th>Email</th>
											<th>Trạng thái</th>
											<th>Vai trò</th>
											<th>&emsp;</th>
										</tr>
									</thead>
									<tbody class="table-border-bottom-0">
										<tr th:each="account : ${listAccounts}">
											<td><strong>[[${account.IDtaikhoan}]]</strong></td>
											<td>[[${account.hoten}]]</td>
											<td>[[${account.email}]]</td>
											<td>
												<a th:if="${account.trangthai == true}" style="color: #697a8d"
													th:href="@{'/account-' + ${account.IDtaikhoan} + '-trangthai-false'}"
													title="Khóa tài khoản này">Hoạt động</a>
												<a th:if="${account.trangthai == false}" style="color: #697a8d"
													th:href="@{'/account-' + ${account.IDtaikhoan} + '-trangthai-true'}"
													title="Mở khóa tài khoản">Bị khóa</a>
											</td>
											<td>[[${account.vaitro}]]</td>
											<td>
												<a style="color: #697a8d" th:href="@{'/account-detail-' + ${account.IDtaikhoan}}">Xem chi tiết</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="text-center m-1" th:if="${totalItems > 0}">
								<span>Các tài khoản từ #[[${startCount}]] đến [[${endCount}]] trong [[${totalItems}]]
									tài khoản</span>
							</div>
							<div class="text-center m-1" th:unless="${totalItems > 0}">
								<span>Không tìm thấy tài khoản nào</span>
							</div>
							<div th:if="${totalPages > 1}">
								<nav>
									<ul class="pagination justify-content-center">
										<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
											<a class="page-link" th:href="@{account-page-1}">Trang đầu</a>
										</li>
										<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
											<a class="page-link" th:href="@{'/account-page-' + ${currentPage - 1}}"
												aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
												<span class="sr-only">Previous</span>
											</a>
										</li>
										<li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
											th:each="i:${#numbers.sequence(1, totalPages)}">
											<a class="page-link" th:href="@{'/account-page-' + ${i}}">[[${i}]]</a>
										</li>
										<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
											<a class="page-link" th:href="@{'/account-page-' + ${currentPage + 1}}"
												aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
												<span class="sr-only">Next</span>
											</a>
										</li>
										<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
											<a class="page-link" th:href="@{'/account-page-' + ${totalPages}}">Trang
												cuối</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
						<!--/ Basic Bootstrap Table -->
						<div class="content-backdrop fade"></div>
					</div>
					<!-- Content wrapper -->
				</div>
				<!-- / Layout page -->
			</div>

			<!-- Overlay -->
			<div class="layout-overlay layout-menu-toggle"></div>
		</div>

		<script th:src="@{js/jquery.js}"></script>
		<script th:src="@{js/popper.js}"></script>
		<script th:src="@{js/bootstrap.js}"></script>
		<script th:src="@{js/perfect-scrollbar.js}"></script>

		<script th:src="@{js/menu.js}"></script>

		<script th:src="@{js/apexcharts.js}"></script>

		<script th:src="@{js/main.js}"></script>

		<script th:src="@{js/dashboards-analytics.js}"></script>

		<script async defer th:src="@{https://buttons.github.io/buttons.js}"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#myForm input[type="search"]').keypress(function (event) {
					if (event.which === 13) {
						event.preventDefault();
						$('#myForm').submit();
					}
				});
			});
		</script>
		<script type="text/javascript">
	    $(document).ready(function() {
	        $("#logoutLink").on("click", function(e) {
	            e.preventDefault();
	            $("form[name='LogoutForm']").submit();
	        });
	    });
	</script>
</body>
</html>